#footer-root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    background-color: rgb(28, 28, 30);

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 1000px;
        height: 70%;
        color: white;

        h3{

        }
        p{
            font-size: 13px;
            color: rgb(142, 142, 147);
        }
        
    }
}
